<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- URL handler -->
        <activity
            android:name=".all.newpipe.NewPipeUrlHandlerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.youtube.com" />
                <data android:host="m.youtube.com" />
                <data android:host="youtube.com" />
                <data android:host="youtu.be" />
<!--                android:pathPattern="/anime/..*"-->
            </intent-filter>
        </activity>

        <!-- Share handler -->
        <activity
            android:name=".all.newpipe.NewPipeShareHandlerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".all.newpipe.ShareHandlerToggleActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />

    </application>
</manifest>
